<strong>{{prettify-school chosenSchool}}</strong> Spellbook
{{#each spellList as |spell|}}
  {{battle-spell spell=spell castSpell=(action castSpell)}}
{{/each}}
{{#if noKnownSpells}}
  <div>
    You do not know any {{prettify-school chosenSchool}} spells...
  </div>
{{/if}}
