<strong>{{prettifySchool chosenSchool}}</strong> Spellbook
{{#each spellList as |spell|}}
  {{battle-spell spell=spell}}
{{/each}}
{{#if noKnownSpells}}
  <div>
    You do not know any {{prettifySchool chosenSchool}} spells...
  </div>
{{/if}}
