<div class="spell-picker-container">
  <button class="neutral">
    Neutral
  </button>
  <button class="rotate270 life">
    Life
  </button>
  <button class="rotate315 bard">
    Bardic
  </button>
  <button class="rotate0 illusion">
    Illusion
  </button>
  <button class="rotate45 sorcery">
    Sorcery
  </button>
  <button class="rotate90 death">
    Death
  </button>
  <button class="rotate135 summon">
    Summon
  </button>
  <button class="rotate180 phys">
    Physical
  </button>
  <button class="rotate225 druid">
    Druidic
  </button>
</div>
