<div style="">
  Your money: {{player.player_money}}
</div>
<div class="battleflexbox">
  <div class="battleframe">
    {{#each player.player_dice as |dice|}}
      {{store-dice dice=dice player=player}}
    {{/each}}
  </div>
  <div class="battlespellbook">
    {{spell-school-picker chooseSpell=(action "setStoreSchool")}}
  </div>
</div>
<button class="btn btn-default" {{action "gotoBattle"}}>Done Shopping</button>
