.manaflexbox {
  display: flex;
  align-items: center;
}

.btn {
  border: 1px solid;
}

.title-inline {
  font-size: x-large;
  font-weight: bold;
}

.battleflexbox {
  display: flex;
  flex-flow: row wrap;
}

.battleframe {
  flex: 2;
  display: flex;
  flex-flow: column wrap;
  border: 1px solid;
  justify-content: space-between;
}

.battlespellbook {
  flex: 1;
  border: 1px solid;
}

.battlefooter {
  border: 1px solid;
}

.battlestat-row {
  display: flex;
  justify-content: space-between;
}

.battlestat-info {
  flex: 3;
  text-align: left;
}

.battlestat-money {
  text-align: right;
}

.storeflexbox {
  display: flex;
  flex-direction: row;
}

.storediceframe {
  flex: 1;
  border: 1px solid;
}

.storemidframe {
  flex: 1;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.storemidframe button {
  width: 100%;
}

.newdicebuy {
  display: grid;
  grid-template-columns: auto auto;
}

.dicebox {
  display: flex;
  border: 1px solid;
  align-items: center;
  justify-content: center;
}

.dicesidelist {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 2em;
}

.dicesidelist div {
  margin: 0.2em 0;
}

.dicesidebuy {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
}

.spell-cost-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.spacer {
  flex-grow: 1;
}

.spell-cost {
  margin: 0.5em;
}

.spell-picker-container {
  position: relative;
  width: 14em;
  height: 14em;
  margin: 1em auto 0;
}

.spell-picker-container button {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  top: 50%;
  left: 50%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  position: absolute;
}
.spell-listing {
  text-align: center;
}

.creature {
  border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  background: #3355ee;
  color: white;
}

.target {
  box-shadow: 0 0 15px 5px darkorange;
}

.dice {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.player-health {
  border-radius: 50%;
	width: 4em;
	height: 4em;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  background: #44ff44;
  color: black;
}

.mana-icon {
  border-radius: 50%;
	width: 1em;
	height: 1em;
  margin: auto;
}

.life {
  background: #eeff99;
  color: black;
}

.druid {
  background: #22dd66;
  color: black;
}

.bard {
  background: #ffcc22;
  color: black;
}

.phys {
  background: #2222cc;
  color: white;
}

.illusion {
  background: #ff44ee;
  color: black;
}

.summon {
  background: #333355;
  color: white;
}

.death {
  background: #113311;
  color: white;
}

.sorcery {
  background: #ff3300;
  color: black;
}

.neutral {
  background: #888888;
  color: black;
}

.rotate0 {
  transform: translate(7em);
}

.rotate45 {
  transform: rotate(45deg) translate(7em) rotate(-45deg);
}

.rotate90 {
  transform: rotate(90deg) translate(7em) rotate(-90deg);
}

.rotate135 {
  transform: rotate(135deg) translate(7em) rotate(-135deg);
}

.rotate180 {
  transform: translate(-7em);
}

.rotate225 {
  transform: rotate(225deg) translate(7em) rotate(-225deg);
}

.rotate270 {
  transform: rotate(270deg) translate(7em) rotate(-270deg);
}

.rotate315 {
  transform: rotate(315deg) translate(7em) rotate(-315deg);
}
