.manaflexbox {
  display: flex;
  align-items: center;
}

.battleflexbox {
  display: flex;
  flex-flow: row wrap;
}

.battleframe {
  flex: 2;
  display: flex;
  flex-flow: column wrap;
  border: 1px solid;
  justify-content: space-between;
}

.battlespellbook {
  flex: 1;
  border: 1px solid;
}

.battlefooter {
  border: 1px solid;
}

.spell-picker-container {
  position: relative;
  width: 14em;
  height: 14em;
  margin: 1em auto 0;
}

.spell-picker-container button {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  top: 50%;
  left: 50%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  position: absolute;
}
.spell-listing {
  text-align: center;
}

.dice {
  border-radius: 50%;
	width: 50px;
	height: 50px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.player-health {
  border-radius: 50%;
	width: 4em;
	height: 4em;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  background: #44ff44;
  color: black;
}

.mana-icon {
  border-radius: 50%;
	width: 1em;
	height: 1em;
  margin: auto;
}

.life {
  background: #eeff99;
  color: black;
}

.druid {
  background: #22dd66;
  color: black;
}

.bard {
  background: #ffcc22;
  color: black;
}

.phys {
  background: #2222cc;
  color: white;
}

.illusion {
  background: #ff44ee;
  color: black;
}

.summon {
  background: #333355;
  color: white;
}

.death {
  background: #113311;
  color: white;
}

.sorcery {
  background: #ff3300;
  color: black;
}

.neutral {
  background: #888888;
  color: black;
}

.rotate0 {
  transform: translate(7em);
}

.rotate45 {
  transform: rotate(45deg) translate(7em) rotate(-45deg);
}

.rotate90 {
  transform: rotate(90deg) translate(7em) rotate(-90deg);
}

.rotate135 {
  transform: rotate(135deg) translate(7em) rotate(-135deg);
}

.rotate180 {
  transform: translate(-7em);
}

.rotate225 {
  transform: rotate(225deg) translate(7em) rotate(-225deg);
}

.rotate270 {
  transform: rotate(270deg) translate(7em) rotate(-270deg);
}

.rotate315 {
  transform: rotate(315deg) translate(7em) rotate(-315deg);
}
