<span id="title" style="font-size: xx-large;" class="title-inline">Embers of Knowledge</span> <a href="https://github.com/mbabernathy/embers-of-knowledge" target="_blank">Github Repo Link</a>
{{#if model.player.isBattling}}
  {{battle-frame}}
{{else}}
  {{store-frame}}
{{/if}}
